<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- Fancy Fonts, Icons, and Logos -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
  <!-- Bootstrap Link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />

  <!-- CSS StyleSheet -->
  <link rel="stylesheet" href="../public/css/style.css" />

  <!-- Icon Title -->
  <title>OmNom Food Delivery</title>

  <!-- rSed Title Icon -->
  <link rel="icon" href="../public/img/rSedLogo.png" type="" />
</head>

<body>
  <%- include("./partials/header.ejs") %>
  <header id="home-section">
    <div class="dark-overlay">
      <h1 align="center" style="padding-top: 75px; color: #ffd700;">
        <b>
          <u>
            <%=restaurant.name%>
          </u>
        </b>
      </h1>
      <h3 align="center" ; style="padding-top: 5px;">
        <i>
          <%=restaurant.address.houseNum%> <%=restaurant.address.street%>,
          <%=restaurant.address.city%>, CA <%=restaurant.address.zipcode%>
          <br />
          +1 626-652-9821
        </i>
      </h3>
      <hr />
      <% restaurant.menus.forEach(function(menu) { %>
      <h1 align="center" style="padding-top: 5px; color: #ffd700;">
        <b>
          <%=menu.name%>
        </b>
      </h1>
      <div id="container" class="cols" align="center">
        <% menu.menuItems.forEach(function(menuItem) { %>
        <div class="box">
          <a href="/itemconfirm/<%=restaurant._id%>/<%=menuItem._id%>" style="text-decoration: none;">
            <img src="<%=menuItem.image%>" alt="<%=menuItem.name%>" class="image" />
            <div class="name">
              <p style="color: #ffffff;">
                <%=menuItem.name%> / $<%=menuItem.price%>.00
              </p>
            </div>
          </a>
        </div>
        <% } ); %>
      </div>
      <% } ); %>
      <h1 align="center" style="padding-top: 75px; color: #ffd700;">
        <b>
          <u>
            Reviews
          </u>
        </b>
        <a class="btn btn-outline-light mx-2" href="/restaurantprofile/<%=restaurant._id%>/review/new" role="button">
          Leave Review
        </a>
      </h1>
      <!--
      <p>
        <% restaurant.reviews.forEach(function(review) { %>
          <%=review.author.firstName%> <%=review.author.lastName%> - <%=review.comment%>
          <br>
        <% } ); %>
      </p>
      -->
      <% var number_in_row = 0 %>
      <% restaurant.reviews.forEach(function(review) { %>
        <% if (number_in_row % 4 == 0) { %>
          <div class="row h-100">
        <% } %>
            <div class="col">
              <div class="card" style="width: 22rem; margin:0 auto">
                <div class="card-body" style="color: black">
                  <h5 class="card-title">Rating</h5>
                  <h6 class="card-subtitle mb-2 text-muted">
                    <% if (review.author.firstName == null) { %>
                      Anonymous
                    <% } else { %>
                      <%=review.author.firstName%> <%=review.author.lastName%>
                    <% } %>
                  </h6>
                  <p class="card-text"><%=review.comment%></p>
                </div>
              </div>
            </div>
        <% if (number_in_row % 4 == 3) { %>
          </div>
          <br>
        <% } %>
      <% number_in_row += 1 %>
      <% } ); %>
    </div>
      
  </header>
  <%- include("./partials/footer.ejs") %>
</body>

</html>