<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- Fancy Fonts, Icons, and Logos -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
  <!-- Bootstrap Link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" />

  <!-- CSS StyleSheet -->
  <link rel="stylesheet" href="../public/css/style.css" />

  <!-- Icon Title -->
  <title>OmNom Food Delivery</title>

  <!-- rSed Title Icon -->
  <link rel="icon" href="../public/img/rSedLogo.png" type="" />
</head>

<body>
  <%- include("./partials/header.ejs") %>
  <header id="profile-section">
    <div class="shamelessly-copied-dark-overlay">
      <div class="profile-inner-thing container" style="padding-top: 100px">
        <div class="row">
          <div class="d-lg-block">
            <div class="container">
              <h1>
                <%=restaurant.name%>
              </h1>
              <br>
              <br>
              <h2>
                Contact Info
              </h2>
              <br>
              <h3>
                Address
              </h3>
              <h4>
                <%=restaurant.address.houseNum%> <%=restaurant.address.street%>
                <%=restaurant.address.city%>, <%=restaurant.address.zipcode%>
              </h4>
              <h3>
                Phone Number
              </h3>
              <h4>
                we don't have one, do we
              </h4>
              <br>
              <br>
              <h2>
                Menus
              </h2>
              <% restaurant.menus.forEach(function(menu) { %>
                <h3>
                  <%=menu.name%>
                </h3>
                <ul>
                <% menu.menuItems.forEach(function(menuItem) { %>
                  <li>
                    <img class="user" src="<%=menuItem.image%>" height="150" width="200">
                    <br>
                    <h4>
                      <%=menuItem.name%> / <%=menuItem.price%>
                    </h4>
                  </li>
                <% } ); %>
                </ul>
              <% } ); %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <%- include("./partials/footer.ejs") %>
</body>

</html>