<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Fancy Fonts, Icons, and Logos -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Link -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />

    <!-- CSS StyleSheet -->
    <link rel="stylesheet" href="/public/css/style.css" />

    <!-- Icon Title -->
    <title>OmNom Food Delivery</title>

    <!-- rSed Title Icon -->
    <link rel="icon" href="/public/img/rSedLogo.png" type="image/icon type" />
  </head>

  <!-- Body -->

  <body>
    <%- include("./partials/header.ejs") %>
    <header id="home-section">
      <div class="dark-overlay">
        <% if (!currentOrder) { %>
          <div class="home-inner container">
            <% var total = 0 %>
            <% var itemCount = 1 %>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                <ul class="list-group">
                  <% currentOrder.orderItems.forEach(function(orderItem) { %>
                    <li class="list-group-item">
                      <span class="badge" style="color: #000000">
                        <%=itemCount%>.
                        <% itemcount++ %>
                      </span>
                      <img
                        src="<%=orderItem.image%>"
                        alt="<%=orderItem.name%>"
                        width="25"
                        height="25"
                      />
                      <strong style="color: #000000">
                        <%=orderItem.name%> / restaurantName
                      </strong>
                      <span style="color: #000000">
                        $<%=orderItem.price%>
                        <% total += orderItem.price %>
                      </span>
                    </li>
                  <% } ); %>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                <strong>
                  Total: $<%=total%>
                </strong>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                <button type="button" href="#" class="btn btn-success">
                  Checkout
                </button>
              </div>
            </div>
          </div>
        <% } else { %>
          <h1 align="center" style="padding-top: 250px; color:#ff0000">
            <b>
              You haven't added anything yet! Get to it!
            </b>
          </h1>
        <% } %>
      </div>
    </header>
    <section id="explore-section" class="text-muted py-5"></section>
    <!-- FOOTER -->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
